<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<%= require('html-loader!../../assets/layout/head.html')  %>
</head>
<body>
	
	<div class="sys-head"> 
		<div class="head__log">
			<!-- logo替换 -->
			<img src="./static/img/jk/logo.png"> 
		</div>
		<div class="head-nav">
			<span class="head-nav__li">首页</span>
			<span class="head-nav__li">计划系统</span>
			<span class="head-nav__li">数据系统</span>
			<span class="head-nav__li">流程中心</span>
			<span class="head-nav__li">后台管理</span>
		</div>
		<div class="head__rt-bg">
			<span class="icon iconfont iconmenu_backstage"></span>
			<span class="icon iconfont iconmenu_backstage"></span>
		</div>
	</div>
	<div class="sys-left">
	   
		<div class="member-box">
			<div class="member-box__img">
				<img src="./static/img/jk/logo.png" style="width: 50px;height:50px; border-radius: 50%;margin: 0 auto;"> 
			</div>
			<div class="member-box__name">JoHn.Doe</div>
			<div class="member-box__dp">运营管理部</div>
			<div class="member-box-do">
				<div>发起的(7)</div>
				<div>代办中(0)</div>
				<div>已完成(28)</div>
				<div>待阅知会(5)</div>
			</div>
		</div>
		 <div class="sys-left__hr"></div>
		 
		 <div class="menu-nav ">
			 <div class="menu-nav-li active">
				<span class="icon iconfont iconmenu_plan"></span>  <span class="menu-nav-li__text">个人计划</span>
			 </div>
			 <div class="menu-nav-li">
				<span class="icon iconfont iconmenu_node"></span> <span class="menu-nav-li__text">节点管理</span> 
			 </div>
			 <div class="menu-nav-li">
				<span class="icon iconfont iconmenu_project"></span> <span class="menu-nav-li__text">项目管理</span> 
			 </div>
			 <div class="menu-nav-li">
				<span class="icon iconfont iconmenu_dynamic"></span> <span class="menu-nav-li__text">行业动态</span>
			 </div>
			 <div class="menu-nav-li">
				<span class="icon iconfont iconmenu_backstage"></span> <span class="menu-nav-li__text">后台管理</span>
			 </div>
		 </div>
	</div>
      <div  class="sys-body">  
	
		
	  </div>

	<!-- <a href="./about.html">关于我们</a><br>
	<a href="./user/login.html">登录</a><br>
	<a href="./user/register.html">注册</a> -->
	<!-- <br> -->
	<!-- <img src=<%= require('@/assets/img/left_03.jpg') %> /> -->
	<!-- <img src="/static/img/left_03.jpg" alt=""> -->
	<!-- <div id="wrap"></div> -->
	<script>
		// document.body.style.background = "red";
	</script>
</body>
</html>